  header
  {
      position: relative;
      background-color: white;
      border-bottom: 3px solid gray;
      height: 63px;
  }

body
{
    margin: auto;
    width: 960px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../images/funky-lines.png");
}

  * {
    box-sizing: border-box;
    }

  #name
  {
      position: relative;
      float: left;
      width: 275px;
      height: 60px;
      background-color: #4aaaa5;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: white;
      font-size: 30px;
      display: inline-block;
      text-align: center;
  }

#me
{
    float: left;
    border: 1px solid black;
    /*left: 400px;*/
    margin-top: 30px;
    display: inline-block;
}



.container
{
    display: inline-block;
    margin-top: 30px;
    min-height: 100%;
    max-height:100%;
    width: 960px; 
    margin: auto;
    background-color: white
}

.about 
{
    display: inline-block;
    float: left;
}

.menu
{
    float: right;
    padding: 10px;
    display: inline-block;
}