body
{
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url("../images/funky-lines.png");
}

header
{
    background-color: white;
    border-bottom: 3px solid gray;
    height: 60px;
    text-align: center;
    margin-bottom: 30px;
}

#name
  {
      position: relative;
      float: left;
      width: 275px;
      height: 60px;
      background-color: #4aaaa5;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: white;
      font-size: 30px;
      display: inline-block;
      text-align: center;
  }

  .menu
{
    float: right;
    padding: 10px;
    display: inline-block;
}

.container
{
    width: 960px; 
    margin:0 auto;
    background-color: white;
}

.title
{
    font-size: 20px;
    padding-top: 5px;
    padding-left: 10px;
    color: #4aaaa5;
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
}

footer
{
    color: white;
    text-align: center;
    background-color: #666666;
    border-top: 4px solid #4aaaa5;
    height: 60px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

/*----------index.html----------*/

.image
{
    display: inline-block;
}

.about
{
    display: inline;
}

/*----------contact.html----------*/

input[type=text], select, textarea 
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  form
  {
    font-weight: bold;
    color: #666666;
  }

  /*----------portfolio.html----------*

  .column {
    width: 480px;
    margin: 0 auto;
  }
  
  .row
  {
    content: "";
    display: flex;
  }*/

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
    width: 50%;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }